.menu {
  display: block;
  max-width: 65vw;
  white-space: nowrap;
  overflow: auto;
}

.menu__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.4;
  padding-right: 16px;
}

.menu__link_active {
  font-weight: 500;
}

/*media-screen*/
@media screen and (max-width:768px) {
  .menu__link {
    padding: 0 0 4px;
    margin-bottom: 22px;
    font-size: 18px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    margin-top: 155px;
  }
  .menu__link_active {
    border-bottom:  2px solid #fff;
  }
}

@media screen and (max-width:425px) {
  .menu {
    margin-top: 145px;
  }
  .menu__link {
    padding: 0 0 7px;
    margin-bottom: 12px;
  }
}