.movie-scard-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(364px, 0fr));
  grid-template-rows: repeat(auto-fit, minmax(271px, 0fr));
  gap: 24px;
  margin: 70px 70px 30px;
  max-width: 1280px;
  min-height: 40vh;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 920px) {
  .movie-scard-list {
    margin-right: 19px;
    margin-left: 19px;
  }
}

@media screen and (max-width: 680px) {
  .movie-scard-list {
    margin-top: 36px;
    margin-bottom: 48px;
  }
}